

<%fields=[['Temperature',:tmp],['Dewpoint',:dpt],['WindSpeed',:wsp],['WindDir',:wdr]]%>

<div id="header">Verification of MOS forecasts for the past week</div>

<div id="state_options">
<%=   form_tag("/index", :id=>'state select') do                                                     %>
<%=     label_tag(:userstate,"First Select a State:")                           %>
<%=     select_tag(:userstate,options_for_select(@states,:selected=>session[:userstate]))%>
<%=     submit_tag("Select State")                                              %>
<%    end                                                                       %>
</div>

<div id="station_options">
<%=   form_tag("/index", :id=>'station and variable select') do                                                                    %>
<%=     label_tag(:userstation, "StationID:")                                                  %>
<%=     select_tag(:userstation,options_for_select(@stations, :selected=>session[:userstation])) %>
<%=     select_tag(:userfield,options_for_select(fields, :selected=>session[:userfield]))       %>
<%=     submit_tag("Submit")                                                                   %>
<%    end                                                                                      %>
</div>

<div id="plot_window"></div>


<script type='text/javascript'>

$(document).ready(function(){
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'plot_window',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            zoomType: 'x'
        },
        rangeSelector: {
	    	selected: 1
	    },
        colors: ['#0000CC','#00FF00','#00CC00','#00AA00','#009900', '#FF0000','#BB0000'],
        legend: {
            itemStyle: {
                fontSize: '18px'
                }
        },
        scrollbar: {
            enabled: true
        },
        title: {
            text: <%= raw @titlestring.to_json %>,
            style: {
                fontSize: '22px',
                fontWeight: 'bold'
            }
        },
        tooltip: {
            shared: true,
            useHTML: true,
            headerFormat: '<small>{point.key}</small><table>',
            pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
            '<td style="text-align: right"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            valueDecimals: 1
        },
        xAxis: {
            type: 'datetime',
            labels: {
                style: {
                    fontSize: '16px'
                }
            }
        },
        yAxis: {
            title: {
                text: <%= raw @var.to_json %>,
                style: {
                    fontSize: '18px'
                }
            },
            labels: {
                style: {
                    fontSize: '14px'
                }
            }
        },
        series: [{
            type: 'spline',
            name: 'SFC OBS',
            data: <%= @obs.to_json %>
        },
        {
            type: 'spline',
            name: 'GFS 00Z',
            data: <%= @gfs0Z.to_json %>
        },
        {   type: 'spline',
            name: 'GFS 06Z',
            data: <%= @gfs06Z.to_json %>
        },
        {   type: 'spline',
            name: 'GFS 12Z',
            data: <%= @gfs12Z.to_json %>
        },
        {
            type: 'spline',
            name: 'GFS 18Z',
            data: <%= @gfs18Z.to_json %>
        },
        {
            type: 'spline',
            name: 'NAM 0Z',
            data: <%= @nam0Z.to_json %>
        },
        {
            type: 'spline',
            name: 'NAM 12Z',
            data: <%= @nam12Z.to_json %>
        }]
    });
}); //document ready function
</script>



